h1 {
  font-family: 'Lobster', cursive;
  color : #0e5475;
  font-size: 64px;
}

h2 {
  font-family: 'Lobster', cursive;
  color : #0e5475;
  font-size: 53px;
}

h3 {
  font-family: 'Lobster', cursive;
  color: #0e5475;
}

p {
  font-family: 'Open Sans', sans-serif;
}
