h1 {
font-family: 'Anton', sans-serif;
  color: #FF2637;
  font-size: 100px
}

h2 {text-align: left;
font-family: 'Anton', sans-serif;
  color: #FF8667;
  font-size: 70px}

p {font-family: 'Abhaya Libre', serif;
font-size: 35px
}


font-family: 'Anton', sans-serif;
font-family: 'Yatra One', cursive;
