body {

}

section {
  padding : 22px;
  max-width : 960px;
}

.section01 {
  background: #FFFF00;
  width : 33%;
  max-width : 420px;
  min-width : 309px;
  float : left;
  margin-right : 22px;
}

.section02 {

}

.section03 {
}
