html {
  cursor: url("cursor.cur"), pointer;
}

div#title {
  background: rgba(255, 110, 0, 0.5);
  background-position: top center;
  max-width: 90vw;
  max-height:none;
  min-height: 300px;
  margin-top: 0;
  margin-left: 10%;
  position : relative;
  z-index: 1;

}


body {
  background-attachment: fixed;
  background-image: url("fox.svg");
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
}


div#text {
  max-width: 1400px;
  max-height: none;;
  height: 100%;
  margin-top: -10%;
  margin-left: -10%;
  margin-right: 40px;
  background-color: rgba(242 , 238, 226, 0.6);
  padding : 42px;
  z-index: 2;
  position: relative;

}

div#autor {
  margin-top: -30px;
  background: rgba(255, 0, 0, 0.3);
  z-index: 3;
  width: 40%;
  margin-left: 60%;
  position: relative;
}

@media (max-width: 435px) {
  div#text {
    margin-right: 10px
  }
}
