body {
    background-color: white;
    background-image: url("shutterstock_1.jpg");
    background-size: cover;

}

h1 {
    text-align: center;
    color: #d63939;
    font-size: 50px;
    font-family: "nickainley";


}

article {

  opacity: 0.8;
	background-color: white;
	justify-content: center;
	text-align: justify;
	font-weight: normal;
  font-family: "gill sans";
	background-position: left;
	padding:100px;
  padding-top:30px;
  padding-bottom:30px;
	margin-left:180px;
	margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  	width: 200px;
}
