body{
  background: #000000 url('pleine-lune-nasa.jpeg') top center no-repeat;
  color : #ffffff;
}



section {
  max-width : 300px;
  margin-left : auto;
  margin-right : auto ;
  background: rgba (255, 255, 255, 0.5);
  padding: 30px;
}

p {
  background:auto #D1CCD3
}
