h2{
  font-family: 'Sertig';
  color: #EA4E2A;
  font-size: 53px;
}

p {
  font-family: 'arial'; 'helvetica'; sans-serif;
  font-size: 18px;
  width: 350px;
}
h3{
  font-family: 'arial'; 'helvetica'; sans-serif
  font-weight: bold;
}
