h1{
  color: #545353;
  font-size : 80px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: right;
}

h2 {  color: #1c5117;
  font-size : 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;


}

h3 {
color: #545353;
font-size : 10px;
font-family: 'Montserrat Alternates', sans-serif;
writing-mode: horizontal-lr;
text-orientation: sideways

  }

p {  color: #942029;
  font-size : 20px;
  font-family: 'Abhaya Libre', serif;

}
