h1 {
font-family: 'Lobster', cursive;
color: #4a5f8c;
font-size: 64px;
}

h2 {
font-family: 'Lobster', cursive;
color : #000000;
font-size: 53px;
}

p{
font-family: 'Source Sans Pro', sans-serif;

}


font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lobster', cursive;
