h1 {
font-family: 'Open Sans Condensed', sans-serif;
color: #4f1e05;
font-size: 70px;
}

h2 {
font-family: 'Open Sans Condensed', sans-serif;
color : #89010f;
font-size: 50px;
text-align: right;
}

p{
font-family: 'Oswald', sans-serif;

}


font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
