body {
  background: #393d3d url('image015.jpg') top center;
  background-size: cover;
  color: #2E2963;
}

section {
  max-width: 620px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 42px;
}
