h1 {
font-family: 'Lobster Two', cursive;
  color : #FFFFFF;
  font-size : 70px;
}

p {
font-family: 'Poiret One', cursive;
  color : #FFFFFF;
  font-size : 20px;
}

h2 {
font-family: 'Amita', cursive;
  color : #FFFFFF;
  font-size : 70px;
