section {
  max-width :600px;
  margin-left : auto;
  margin-right: auto;
  color: #fefefe;
  opacity: 0.8;
}

h1 {
  background-color: #00CC99;
  margin-bottom: auto;
  margin: auto;
}

h2 {
  background-color: #00CC99;
  margin-bottom: auto;
  margin: auto;
}

p  {
  background-color: #009966;
  margin-bottom: auto;
  margin: auto;
}

body{
  background: #efefef url('aigle.jpg') top center no-repeat;
  color: #000f00;
  background: rgba(255, 255, 255, 0.5)
    margin-left : auto;
    margin-right: auto;
}
