h1 {
  font-family: 'Bevan', cursive;
  font-size: 8em;
  max-width : 480px;
  display: block;
  line-height: 0.85;
  float : left;
  text-align: right;
  margin-bottom: 0;
  position : relative;
  z-index: 20;
}


.content {
  font-family: 'Pontano Sans', sans-serif;
  max-width : 200px;
  position : relative;
  top : -300px;
  font-weight: bold;
  padding : 8px;
  background: rgba(255, 255, 255, 0.8);
  display: block;
}
