body {

  margin-top: 123;
}
section {
  max-width : 500px;
  margin : 0 auto;
}

h1 {
  line-height: 3;
border-top: 6px solid #E9C9B1;
border-right: 0px solid #EC4356;
border-bottom: 6px solid #E9C9B1;
border-left: 0px solid #EC4356;
}
