h1 {
  font-size: 100px;
font-family: 'Open Sans Condensed', sans-serif;
color:  #40e0d0
}

h2 {
  font-size: 30px;
font-family: 'Open Sans Condensed', sans-serif;
color: #40e0d0
}

h3 {
  font-size: 40px;
font-family: 'Crimson Text', serif;
color: #000080
}

p {
  font-size: 40px
font-family: 'Crimson Text', serif;
color: #000080
}
