h1 {
  color : #EF8888 ;
  font-family: 'Majesti Banner';
  font-size: 53px;
}

h2 {
  font-family: 'DK Petit Four';
  color : #569B94;
  font-size : 53px;
}

p {
  font-family: 'din condesed', regular;
}
