h1 {
  color : #054D05;
  font-size: 55px;
  font-family: 'Ewert', cursive;
  text-align: center;
}

p{
  color : #347055;
  font-family: 'Bad Script', cursive;
}

h2 {
  color : #7A3338;
  font-size: 36px;
  font-family: 'Tangerine', cursive;
  text-align: center;
}
