h1 {
  font-size: 130px;
font-family: 'Six Caps', sans-serif;
color:  #FEFEFE
}

h3 {
  font-size: 50px;
font-family: 'Six Caps', sans-serif;
color: #FEFEFE
}

h2 {
  font-size: 20px;
font-family: 'Dosis', sans-serif;
color: #FEFEFE
}


p {
  font-size: 16px;
font-family: 'Dosis', sans-serif;
color: #FEFEFE
}
