h1 {
  background-color: #d0362f ;
  background-size: auto;
  color : #e7e8e8;
  font-family: 'Work Sans', sans-serif;
  font-size : 30px;
  font-weight: 700;
  text-align: center;
}

p{
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  columns: 3;
}

h2{
  background-color: #d0362f ;
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

h3{
  font-family: 'Work Sans', serif;
  font-size: 15px;
  line-height: 13px;
  font-weight: 700;
  text-align: center;
}

h4{
font-family: 'Crete Round', serif;
line-height: 20px;
font-size: 20px;
font-weight: lighter;
text-align: center;
}
