h1 {
font-family: 'Merienda One', cursive;
  color : #513c36;
font-size : 100px;
}

h2 {
  font-family: 'Pontano Sans', sans-serif;
  color : #3e844d;
  font-size : 32px;
}

p{
font-family: 'Taviraj', serif;
  color : #513c36;
  font-size : 23px;
}
