body {
background : #fff;
  color : #0F2C5E;
}

section {

  max-width: 1200px;
  padding : 30px;
  max-width: 1200px;
}

.titre1 {
    background-color: #FFF;
    height: 0px;
    padding-top: 100px;
    padding-left: 350px;
    padding-right: 50px;
}
  .partie1 {
      background-color: #FFF;
      height: 300px;
      padding-top: 200px;
      padding-left: 500px;
      padding-right: 200px;
      color: #9d9e9d;

}

.titre2 {
    height: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.partie2 {
  background : #FFFFFF url('background.png') top center no-repeat;
  background-size: cover
  background: rgba(255, 255, 255, 0.6);
  height: 800px;
  padding-left: 100px;
  padding-right: 100px;
  color : #FFFFFF;

}
.partie3 {
  background : #FFFFFF url('DarkPaper.jpg') top center no-repeat;
  background-size: cover
  background: rgba(255, 255, 255, 0.6);
  height: 400px;
  padding-top: 300px;
  padding-left: 500px;
  padding-right: 200px;
  max-height: 400px;
color :  #9d9e9d;
}

.titre3 {
  display: inline-block;
  outline: 1px solid white;
  padding: 5em;
    height: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 60px;
}

.section-crow-pitcher h2 span {
    display: inline-block;
    outline: 1px solid white;
    padding: 1em;
}
.section-gnat-bull {
    background: url(../images/forest.jpg) no-repeat;
    background-size: cover;
    padding: 90px 0 100px;
