h1 {
color : #FFFFFF;
font-size : 45px;
font-family: 'Pacifico', cursive;
}

h2 {
color : #FFFFFF;
font-size : 35px;
font-family: 'Pacifico', cursive;
}

p {
color : #080338;
font-size : 25px;
font-family: 'Amatica SC', cursive;
}
