h2 {
  font-family: 'Amatic SC', cursive;
  color : #ffffff;
  font-size: 53px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-family: 'Amatic SC', cursive;
  color : #ffffff;
}
