body {
  background : #BBBEBF url("image02.jpg") top center no-repeat;
  background-size: cover;
color : #104557;
}

section {
  max-width: 640px;
  margin-left : auto;
  margin-right : auto;
  background: rgba(255,255,255,0.2);
  padding : 22px;
}
